@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

@media print {
  body {
    background-color: white !important;
  }
  body * {
    visibility: hidden;
  }
  .print-exact-size, .print-exact-size * {
    visibility: visible;
  }
  .print-exact-size {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 210mm !important;
    min-height: 297mm !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
    transform: none !important;
  }
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  @page {
    size: a4 portrait;
    margin: 0;
  }
}
